<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
</head>




<body>
	{% if user.is_authenticated %}
		 <nav>
		    <div class="nav-wrapper">
		      <a href="/" class="brand-logo">MotionMovies</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/profile">{{user.username}}</a></li>
		        <li><a href="/logout">Logout</a></li>
		      </ul>
		    </div>
		  </nav>
	{% else %}
	 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">MotionMovies</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
	{% endif %}

</body>


{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}

<div class="container-fluid">
{% block content %}
{% endblock %}
</div>