{% extends "main/base.html" %}

{% block title %}
Video - 
{% endblock %}



{% block content %}
<!-- 
<video width="320" height="240" controls>
    <source src="{{ video.path }}" type="video/mp4">
  Your browser does not support the video tag.
  </video> -->
<!-- 
<iframe width="420" height="345" src="{{movie.path}}">
</iframe> -->
 <div class="video-container">
        <iframe width="853" height="480" src="{{ movie.path }}" frameborder="0" allowfullscreen></iframe>
 </div>
<p><strong>{{ movie.description }}</strong></p>
<!-- <p style="color:dark-black;">{{ movie.description }}</p> -->
<!-- <p>{{ movie.description }}</p> -->
<br><br>
<h3>Comments</h3>

{% if form %}
<form action="/comment" method="POST">
	{% csrf_token %}
	{{ form }}
	<input type="hidden" name="movie" value='{{ movie.id}}'>
	<button type="submit" class="btn btn-primary">Post Comment</button>
	
</form>
{% endif %}

{% for comment in comments %}
<p>
	<strong>{{ comment.user }}</strong> posted on: {{ comment.datetime }}
	<br>
	{{ comment.text }}
</p>
{% endfor %}


{% endblock %}

    <span class="black-text text-darken-2">{{ comment.user }}</span>

